@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.Home {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-container {
    background-image: url('../assets/students-walking.svg');
    background-size: cover;
    background-position: center;
    height: 477px;
}
