@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.Home {
  font-family: 'Nunito', sans-serif;
}

.top-container {
    background-image: url('../assets/students-walking.svg');
    background-size: cover;
    background-position: center;
    height: 477px;
}
